section.main {
  position: relative;
  padding-bottom: 120px;
     }
section.main::before{
        content: "";
        position: absolute;
        background: linear-gradient(to right,  rgba(37,43,73, 0.8), rgba(37,43,73, 0.8)), url(../img/mainbcg.jpg);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
   } 
   .container__main {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding-top: 2em;
      flex-wrap: wrap;
   }
   .header {
      display: flex;
      justify-content: space-between;
       align-items: center;
       padding-bottom: 2em;
       border-bottom: 1px solid  #BABBC5;
       gap:20em;
       margin: auto;
   }
   .container__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
              }
              .burger__checkbox {
                  position: absolute;
                  visibility: hidden;
                }
                .burger {
                  position: fixed;
                  z-index: 999;
                  cursor: pointer;
                  display: block;
                  border: none;
                  background: transparent;
                  width: 40px;
                  height: 26px;
                  top:5%;
                  right:0;
                }
                .burger::before,
                .burger::after {
                  content: '';
                  right: 0;
                 position: absolute;
                  display: block;
                  width: 100%;
                  height: 4px;
                  border-radius: 10px;
                  background:#808080;
                }
                .burger::before {
                  top: 0;
                  box-shadow: 0 11px 0 #808080;
                  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
                }
                .burger::after {
                  bottom: 0;
                  transition: bottom .3s .15s, transform .3s;
                }
                .burger__checkbox:checked + .burger::before {
                  top: 11px;
                  transform: rotate(45deg);
                  box-shadow: 0 6px 0 rgba(0,0,0,0);
                  transition: box-shadow .15s, top .3s, transform .3s .15s;
                }
                .burger__checkbox:checked + .burger::after {
                  bottom: 11px;
                  transform: rotate(-45deg);
                  transition: bottom .3s, transform .3s .15s;
                }
                .menu__list {
                  top: 0;
                right:0;
                  position: fixed;
                  display: grid;
                  gap: 12px;
                  padding: 70px 0;
                  margin: 0;
                  background: linear-gradient(to right,  rgba(37,43,73, 0.8), rgba(37,43,73, 0.8)), url(../img/mainbcg.jpg);
                  background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
                  transform: translateX(100%);
                  transition: .3s;
                  width: 320px;
                  height: 100%;
                  z-index:998;
                }
                .menu__item {
                  display: block;
                  padding: 8px;
                  color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
                }
                .menu__item:hover {
                  background: rgba(255,255,255,.2)
                }
                .burger__checkbox:checked ~ .menu__list {
                  transform: translateX(0);
                }
   
    .navigation__list {
      display: flex;
      
    }

    .navigation__list__item a {
      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      border: 1px solid transparent;
      padding: 5px 25px;
  
     
    }
    .navigation__list__item a:hover {
      width: 100%;
      height: 1px;
      padding-bottom: 2.8em;
      border-bottom: 3px solid  #BABBC5;
         }
         .navigation__list__item a:active {
          color: #E71414;
          border-bottom: 3px solid  #E71414 ;
         }        
.main__content {
margin-top: 130px;
  position: relative;
}
.main__title {
      color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
margin: 0 150px 31px;

   }
.main__subtitle {
  color: #FFF;
text-align: center;
font-family: Raleway;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 170px 80px;
}      

.button__main {
  padding: 1em 3.75em;
  color: #FFF;
  background-color:#FF4343;;
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
transition: 0.3s;
position: relative;
left: 36%;
}

  .button__main:hover {
      background: #E71414;
  }
  .button__main:active {
      background: #FF4343;
      box-shadow: 4px 4px 30px 0px #FF4343;
  }

@media screen and (max-width: 1024px) and (max-height:768px) {
.header {
  gap:0;
}
.burger {
  right:0;
}
.navigation__list__item a {
  font-size: 20px;
  padding: 5px 15px;
}
}
@media screen and (max-width: 320px) and (max-height:574px) {
 section.main {
  padding-bottom: 50px;
 }
  .header {
display: flex;
justify-content: space-between;
 border-bottom: none;
 gap:10em;
 margin: auto;
}
.main__logo{
width:80px;
}
.main__logo__box{
width:40px;
}
    .navigation__list {
display:none;
}
.main__content {
margin-top: 50px;
width: 280px;
 
}
.main__title {
font-size: 36px;
margin: auto;
}
.main__subtitle {
margin:32px auto 50px;
font-size: 14px;
}
.button__main {
max-width: 280px;
left: 10%;
font-size: 24px;
padding: 10px 30px;
}
}